.details{
    font-weight: bold;
    font-size: 20px;
}

.more{
    font-size: 12px;
}

.center{
    text-align: center;
}

#underline{
    text-decoration: underline;
}

.members{
    font-size: 18px;
}

.bottom{
    margin-bottom: 30px;
}