{{#partial "content"}}

<h1>About Hackathon 2018</h1>
<p class="details"><em>What:</em> Epicodus Hackathon</p>
<p class="details"><em>When:</em> July 2nd, from 7:30pm to 2am. </p>
<p class="details"><em>Who:</em> anyone!</p>
<p class="details"><em>Where:</em> In a van, down by the river.</p>
<p class="details"><em>Why:</em>  ​There is no demo, there is no judging, and there is no prize. Just a night of hacking, good food, laughter, and friendship. Feel good about asking for help and helping others. No showing off and no embarrassment. We are very proud that for Epicodus students new to hackathons, their first experience is one of cooperation and friendship, not of competition.</p>

{{/partial}}

{{> layout.hbs}}