<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Team Hackathon{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/teams">See All Teams</a></li>
    <li role="presentation"><a href="/teams/new">Start a New Team</a></li>
    <li role="presentation"><a href="/about">About</a></li>
</ul>
<div class="container">
    <div class="page-header">
        <img src="/images/2016_spring_pano_small.jpg" width="100%">
        <h1 class="center">Hackathon 2018 Sign-Up </h1>
    </div>
    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}
    </div>
</div>

{{#block "footer"}}
<footer class="footer">
    <div class="container">

    </div>
</footer>
</body>
</html>
{{/block}}