<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}}Team Hackathon{{/block}}</title>

    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/">Home</a></li>
    <li role="presentation"><a href="/teams">See All Teams</a></li>
    <li role="presentation"><a href="/teams/new">Start a New Team</a></li>
</ul>
<div class="container">
    <!--begin main template-->
    <div class="page-header">
        <img src="/images/2016_spring_pano_small.jpg" width="100%">
        <h1>Welcome to Hackathon 2018 sign-up! </h1>
        <p><em>What:</em> Epicodus Hackathon</p>
        <p><em>When:</em> July 2nd, from 7:30pm to 2am. </p>
        <p><em>Who:</em> anyone!</p>
        <p><em>Where:</em> In a van, down by the river.</p>
        <p><em>Why:</em>  ​There is no demo, there is no judging, and there is no prize. Just a night of hacking, good food, laughter, and friendship. Feel good about asking for help and helping others. No showing off and no embarrassment. We are very proud that for Epicodus students new to hackathons, their first experience is one of cooperation and friendship, not of competition.</p>


    </div>

    <div class="col-md-12">
        {{#block "content"}}
        {{/block}}

    </div>
</div>
<!--end main template-->
{{#block "footer"}}
<footer class="footer">
    <div class="container">
        <!--<p class="text-muted"><a href="/posts/delete">DELETE ALL POSTS</a></p>-->
    </div>
</footer>
</body>
</html>
{{/block}}