{{#partial "content"}}
<h1>Team:</h1>
<p class="details">Team Name: {{ team.teamName }}</p>
<p class="details">Team Description: {{ team.teamDescription }}</p>
<p class="details">Team Members: </p>
    {{#each team.teamMembers}}
        <p>{{this}}</p>
    {{/each}}

<a href="/teams/{{team.id}}/update">Edit team</a>


{{/partial}}

{{> layout.hbs}}